.banner{
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 95%), url(../../images/background2.jpeg);
	padding: 150px 0px;
	background-size:cover;
	background-position: center;

}

.banner h1{
	font-family: 'Dancing Script', cursive;
	font-size: 70px;
	color: #9F5F56;
}

.banner h2{
	font-size: 30px;
	opacity: lighter;
	margin-bottom: 40px;

}